.imageBackground {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

select {
    appearance: none;
    background-image: url(./images/down-triangle.svg);
    background-repeat: no-repeat;
    background-position: top 50% right 15px;
}

p, h1, h2, h3 a, caption, small, label {
    font-family: source sans pro;
}

.font-coiny {
    font-family: Coiny;
}

a.nav-link {
    color: white;
    font-weight: bold;
}

.btn {
    border-radius: 6rem;
    background-color: #c271ff;
    border: none;
    font-weight: bold;
    padding: 0.7rem 1.2rem;
    white-space: nowrap;
}

.profile-pic {
    border-radius: 100%;
}

span.purpEmphasis {
    color: #c271ff;
    font-weight: bold;
}

section.section--quotes {
    background-color: #c271ff;
}

.card-body div p span {
    white-space: nowrap;
}

@font-face {
    font-family: hb-symbol;
    src: url(./holberton_school-icon/fonts/holberton_school-icon.ttf);
}

.symbol-font a p,
.symbol-font {
    font-family: hb-symbol;
    font-size: 28px;
    color: white;
}