.imageBackground {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

p, h1, a {
    font-family: source sans pro;
}

a.nav-link {
    color: white;
    font-weight: bold;
}

.btn {
    border-radius: 6rem;
    background-color: #c271ff;
    border: none;
    font-weight: bold;
    padding: 0.7rem 1.2rem;
}

.profile-pic {
    border-radius: 100%;
}

span.purpEmphasis {
    color: #c271ff;
    font-weight: bold;
}

section.section--quotes {
    background-color: #c271ff;
}

.card-body div p span {
    white-space: nowrap;
}

@font-face {
    font-family: hb-symbol;
    src: url(./holberton_school-icon/fonts/holberton_school-icon.ttf);
}

.symbol-font a p {
    font-family: hb-symbol;
    font-size: 28px;
    color: white;
}